@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sky-reflection: #74b3ceff;
  --pacific-cyan: #508991ff;
  --deep-space-blue: #172a3aff;
  --dark-teal: #004346ff;
  --mint-leaf: #09bc8aff;
}

body {
  font-family: 'Nunito', sans-serif;
  /* Use tabular-nums to prevent jittery numbers in the timer */
  font-variant-numeric: tabular-nums; 
  background-color: var(--deep-space-blue);
  color: var(--sky-reflection);
  min-height: 100vh;
  margin: 0;
}